<%- include('../init/header.ejs') %>
<% var today = new Date(); var dd = String(today.getDate()).padStart(2, '0'); var mm = String(today.getMonth() + 1).padStart(2, '0'); var yyyy = today.getFullYear(); %>

    <div class="col-lg-12">
        <div class="row pt-3">
            <div class="col">
                <label class="m-1">Starting Time</label>
                <input type="date" class="form-control" name="start" id="start" required>
            </div>
            <div class="col">
                <label class="m-1">Ending Time</label>
                <input type="date" class="form-control" name="end" id="end" value="<%= yyyy %>-<%= mm %>-<%= dd %>" required >
            </div>
        </div>
    </div>
    </div>

    <script type="module" src="/summary.js"></script>
    </body>

    </html>